{% load scheduletags %}

{% include "calendars/month_navigation.html" %}

<table class="calendar">
	{% if weekday_names %}
	<thead>
		<tr>
			{% for day_name in weekday_names %}<th>{{ day_name|capfirst }}</th>{% endfor %}
		</tr>
	</thead>
	{% endif %}

	<tbody>
		{% for week in period.get_weeks %}
    	<tr>
    		{% for day in week.get_days %}
				{% ifnotequal day.start.month period.start.month %}
					<td class="empty"><span>{{day.start.day}}</span></td>
				{% else %}
					{% if day.has_occurrences %}
						<td class="busy">
					{% else %}
						<td class="free">
					{% endif %}
						<span>{{day.start.day}}</span>
						{% if day.has_occurrences %}
							<ul>
							{% for o in day.get_occurrence_partials %}
								{% ifequal forloop.counter 3 %}
									{% if not forloop.last  %}
										<li class="more">…</li>
									{% endif %}
								{% endifequal %}
								<li class="calendar-{{ o.occurrence.event.calendar.pk }}">
									<a href="#"><span>{% ifequal o.class 0 %}{{ o.occurrence.start|time:"G:i" }} – {% endifequal %}
									{% ifequal o.class 1 %}{{ o.occurrence.start|time:"G:i" }} – {% endifequal %}
									{% ifequal o.class 2 %}(All day) – {% endifequal %}
									{% ifequal o.class 3 %}{{ o.occurrence.end|time:"G:i" }} (ends) – {% endifequal %}</span>
									{{ o.occurrence.title }}</a>
								</li>
							{% endfor %}
							</ul>
						{% endif %}
					</td>
				{% endifnotequal %}
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>

{% include "calendars/month_navigation.html" %}

{% if display_details %}
	{% include "calendars/details.html" %}
{% endif %}